# General OS/Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

frontend/.env

# Python Related
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.env
*.sqlite3

backend/image_resizer/.env

# Azure Functions Local Development
local.settings.json  # ⚠️ Do not upload local settings (contains secrets)
*.swp
*.swo
*.bak

# Node.js (If using npm for frontend dependencies)
node_modules/
npm-debug.log
package-lock.json

# Build Output
dist/
build/

# Frontend Cache
*.cache